*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.welcome{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}
.printLine{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.print{
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    width: 150px;
    height: 39px;
}
.userButton{
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
}
.userButton:hover{
    background-color: gray;
    cursor: pointer;
}
.submit{
    display: flex;
    justify-content: center;
}
.submitButton{
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    margin: 0 2%;
}
.submitButton:hover{
    background-color: gray;
    cursor: pointer;
}
.resetButton{
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    margin: 0 2%;
}
.resetButton:hover{
    background-color: gray;
    cursor: pointer;
}
.audioButton{
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    margin: 0 2%;
}
.audioButton:hover{
    background-color: gray;
    cursor: pointer;
}
.finalPrint{
    margin: 2em 15%;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}
.finalSentence{
    font-family: sans-serif;
    height: inherit;
    justify-content: center;
}