*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    height: 150px;
    position: fixed;
    width: 100%;
    background-color: burlywood;
    z-index: 9999;
    transition: all .3s ease-in-out;
}
.scrolledHeader {
    width: 100%;
    height: 100px;
    transition: all .3s ease-in-out;
}
header nav{
    width: 100%;
}
header nav menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav menu li{
    list-style: none;
}
header nav menu li a{
    display: flex;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: #3d2814;
    padding: 10px 20px;
    border-radius: 10px;
}
header nav menu li a:hover{
    background-color: darkgreen;
    transition: all .3s ease-in-out;
}
.masthead{
    background-image: url("./img/mastheadimg2.jpeg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mastheadText{
    display: flex;
    font-size: 5em;
    color: black;
    /*text-shadow: 8px 0px 2px rgba(0, 0, 0, 0.3),*/
    /*8px 0px 2px rgba(255, 255, 255, 0.7);*/
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
}
main .menu{
    background-color: gold;
    width: 100%;
    height: 500px;
}
.menu .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Sriracha', sans-serif;
    background-image: linear-gradient(to bottom, red,white);
    color: black;
}
.menu .img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: blueviolet;
}
.masthead1{
    background-image: url("./img/arak.jpg");
    height: 85vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teaser{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    position: relative;
}
.eventTeaser{
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    top: 50%;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    height: 5%;
}
.button input[type="submit"]{
    padding: 10px;
    border-radius: 5px;
    font-family: 'Rubik',sans-serif;
}
#img{
    top: 10%;
    left: 70%;
    position: absolute;
    background-image: url(./img/shishtawoul.jpg);
    background-position: center;
    border-radius: 20px;
    height: 350px;
    width: 350px;
}

.eventTeaser h3{
    font-size: larger;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 400px;
    text-wrap: nowrap;
}


.about{
    width: 100%;
    height: 700px;
}
.about .AboutDesc{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

 .about .AboutDesc img{
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 4px gray;
    float: left;
    height: 400px;
    width: 400px;
}
.about .AboutDesc .aboutText{
    font-size: larger;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 30%;
    height: 400px;
}

.masthead2{
    background-image: url("./img/shawarma.jpg");
    height: 85vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .event{
    width: 100%;
    height: 700px;
}

.event .eventDesc{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.event .eventDesc img{
    float: left;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px gray;
}
.event .eventDesc #eventText{
    text-wrap: balance;
    background-color: #fff;
    height: 400px;
    margin: 90px 0 0 30px;
    width: 30%;
    font-family: 'Rubik',sans-serif;
    font-size: 1.7em;
}
.event .eventDesc .eventText h3{
    float: left;
}
.event .eventDesc .eventText h4{
    display: flex;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    width: 100%;
    padding-top: 20px;
}
.event .eventDesc .eventText h5{
    width: 100%;
    padding-top: 10px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Sriracha', sans-serif;
    color: black;
    background-color: #fff;
}

#sec2{
    background-color: purple;
}
footer{
    width: 100%;
    height: 300px;
}
footer .input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
    height: 100%;
}
footer .input input[type="text"]{
    height: 10%;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
}
footer .input input[type="submit"]{
    padding: 10px;
    border-radius: 10px;
    background-color: yellow;

}
footer .input textarea{
    height: 10%;
    border-radius: 7px;
}
.slide-right {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all .5s ease;
}
.slide-right.active {
    transform: translateX(0px);
    opacity: 1;
}
.slide-left {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all .5s ease;
}
.slide-left.active {
    transform: translateX(0px);
    opacity: 1;
}